.img-responsive-container{
    width: 60vw;
}

.img-responsive {
    width: 100%;
    height: auto;
    border: 2px solid #fff;
}

.img-round-container{
    width: 30vw;
  }
 
.img-round {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
 }
  