<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/components.css">
  <title>PineUI | Alert</title>
</head>

<body>

  <header class="header">
    <figure class="logo-container">
      <a href="../index.html">
        <img src="/assets/logo.png" alt="logo" />
      </a>
    </figure>
    <div class="header-links">
      <ul class="lg-text">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/component/alert/alert.html">Docs</a></li>
        <li><a href="https://github.com/prajapati-priyanka">Github</a></li>
      </ul>
    </div>
  </header>
  <main class="component-container wrapper">
    <aside class="sidenav">
      <h3 class="sidenav-heading">Getting Started</h3>
      <ul>
        <li><a class="md-text" href="/component/usage.html">Usage</a></li>
      </ul>
      <h3 class="sidenav-heading">Components</h3>
      <ul>
        <li><a class="active md-text" href="../alert/alert.html">Alert</a></li>
        <li><a class="md-text" href="../avatar/avatar.html">Avatar</a></li>
        <li><a class="md-text" href="../badge/badge.html">Badge</a></li>
        <li><a class="md-text" href="../button/button.html">Button</a></li>
        <li><a class="md-text" href="../card/card.html">Card</a></li>
        <li><a class="md-text" href="../image/image.html">Image</a></li>
        <li><a class="md-text" href="../input/input.html">Input</a></li>
        <li><a class="md-text" href="../typography/typography.html">Typography</a></li>
        <li><a class="md-text" href="../modal/modal.html">Modal</a></li>
        <li><a class="md-text" href="../toast/toast.html">Toast</a></li>
      </ul>
    </aside>
    <section class="comp-display-section">
      <article class="comp-desc">
        <h1 class="comp-heading">Alert</h1>
        <p class="comp-heading-desc lg-text">
          Alerts are used to attract user's attention for important
          information without interrupting the user's flow.
        </p>
      </article>
      <article class="comp-desc">
        <h2 class="comp-heading">Standard Alert</h2>
        <p class="comp-heading-desc lg-text">
          The alert component has four variants:
          <span class="highlight">alert-danger</span>,
          <span class="highlight">alert-success</span>,
          <span class="highlight">alert-info</span>
          <span class="highlight">alert-warning</span>

        </p>
        <div class="component-code lg-text">
          <p class="alert alert-danger">
            <strong>Danger!</strong> Indicates a dangerous or potentially
            negative action.
          </p>
          <p class="alert alert-success">
            <strong>Success!</strong> Indicates a succesful or positive
            action.
          </p>
          <p class="alert alert-info">
            <strong>Info!</strong> Indicates a neutral informative change or
            action.
          </p>
          <p class="alert alert-warning">
            <strong>Warning!</strong> Indicates a warning that might need
            attention.
          </p>

          <iframe src="https://www.thiscodeworks.com/embed/61fff5754dd44f0015f3cc69" style="width: 100%; height: 300px;"
            frameborder="0"></iframe>
        </div>
      </article>
      <div class="page-bottom-nav">
        <div class="previous-page">
          <a href="/component/usage.html" class="md-text"> <img src="/assets/backward-arrow.svg" class="footer-icon"
              alt=""> Usage</a>
        </div>
        <div class="next-page">
          <a href="/component/avatar/avatar.html" class="md-text">Avatar <img src="/assets/forward-arrow.svg" alt=""
              class="footer-icon"> </a>
        </div>
      </div>
    </section>
  </main>

</body>
</html>
