.alert {
    padding: 1.6rem;
    border-radius: 0.5rem;
    margin: 1.6rem 0;
  }
  
  .alert-info {
    background-color: var(--info-color);
  }
  .alert-danger {
    background-color: var(--danger-color);
  }
  .alert-warning {
    background-color: var(--warning-color);
  }
  .alert-success {
    background-color: var(--success-color);
  }
  