<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="stylesheet" href="/css/components.css" />
    <link rel="stylesheet" href="grid.css" />

    <title>PineUI | Grid</title>
  </head>

  <body>
    <header class="header">
      <figure class="logo-container">
        <a href="../index.html">
          <img src="/assets/logo.png" alt="logo" />
        </a>
      </figure>
      <div class="header-links">
        <ul class="lg-text">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/component/alert/alert.html">Docs</a></li>
          <li><a href="https://github.com/prajapati-priyanka">Github</a></li>
        </ul>
      </div>
    </header>
    <main class="component-container wrapper">
      <aside class="sidenav">
        <h3 class="sidenav-heading">Getting Started</h3>
        <ul>
          <li><a class="md-text" href="/component/usage.html">Usage</a></li>
        </ul>
        <h3 class="sidenav-heading">Components</h3>
        <ul>
          <li><a class="md-text" href="../alert/alert.html">Alert</a></li>
          <li><a class="md-text" href="../avatar/avatar.html">Avatar</a></li>
          <li><a class="md-text" href="../badge/badge.html">Badge</a></li>
          <li><a class="md-text" href="../button/button.html">Button</a></li>
          <li><a class="md-text" href="../card/card.html">Card</a></li>
          <li><a class="md-text" href="../image/image.html">Image</a></li>
          <li><a class="md-text" href="../input/input.html">Input</a></li>
          <li>
            <a class="md-text" href="../typography/typography.html"
              >Typography</a
            >
          </li>
          <li><a class="md-text" href="../modal/modal.html">Modal</a></li>
          <li><a class="md-text" href="../toast/toast.html">Toast</a></li>
          <li>
            <a class="md-text" href="../navigation/navigation.html"
              >Navigation</a
            >
          </li>
          <li><a class="md-text" href="../list/list.html">List</a></li>
          <li>
            <a class="md-text" href="../rating/rating.html">Rating</a>
          </li>
          <li>
            <a class="active md-text" href="../grid/grid.html">Grid</a>
          </li>
        </ul>
      </aside>
      <section class="comp-display-section">
        <article class="comp-desc">
          <h1 class="comp-heading">Grid</h1>
          <p class="comp-heading-desc lg-text">
            Grid helps in dividing a page in several parts and display components in that specific part. It makes dividing a page in several parts very easy.
          </p>
        </article>

        <article class="comp-desc">
          <h2 class="comp-heading">Two Column Grid</h2>
          <p class="comp-heading-desc lg-text">
            Two Column Grid is used when we want items in two separate columns.
          </p>
          <div class="component-code heading-container lg-text">
           <div class="two-col-grid-container">
               <figure class="grid-image">
                   <img src="../../assets/avatar.jpg" class="img-responsive" alt="Girl With Dress" />
               </figure>
               <div class="grid-text text-center">
                   <h2 class="grid-heading">Trending Western Dresses</h2>
                   <h3 class="grid-sub-heading">Available at huge discount</h3>
                   <button class="btn btn-primary md-text">Explore</button>
               </div>
           </div>

           <iframe src="https://www.thiscodeworks.com/embed/625b111a9adddc0015562d02" style="width: 100%; height: 200px;" frameborder="0"></iframe>
          </div>
        </article>

        <article class="comp-desc">
          <h2 class="comp-heading">Three Column Grid</h2>
          <p class="comp-heading-desc lg-text">
            Three Column Grid is used when we want items in three separate columns.
          </p>
          <div class="component-code heading-container lg-text">
            <div class="three-col-grid-container">
                <div class="card ecommerce-card card-with-badge">
                    <figure class="card-header">
                        <img src="../../assets/grid-img.jpg" alt="Girl with Saree">
                    </figure>
                    <div class="card-badge md-text">BestSeller</div>
                    <button class="card-floating-icon">
                        <i class="material-icons">favorite</i>
                    </button>
                    <section class="card-body">
                        <h5 class="card-title md-text">Ethno Vogue</h5>
                        <p class="card-subtitle md-text">Ruffled Pink Saree</p>
                        <div class="card-price">
                            <span class="price-after-discount md-text">₹20,999</span>
                            <span class="price-before-discount md-text">₹25,999</span>
                            <span class="discount md-text">(5% off)</span>
                        </div>
                        <button class="btn btn-primary">ADD TO CART</button>
                    </section>
                </div>
                <div class="card ecommerce-card card-with-badge">
                    <figure class="card-header">
                        <img src="../../assets/grid-img.jpg" alt="Girl with Saree">
                    </figure>
                    <div class="card-badge md-text">BestSeller</div>
                    <button class="card-floating-icon">
                        <i class="material-icons">favorite</i>
                    </button>
                    <section class="card-body">
                        <h5 class="card-title md-text">Ethno Vogue</h5>
                        <p class="card-subtitle md-text">Ruffled Pink Saree</p>
                        <div class="card-price">
                            <span class="price-after-discount md-text">₹20,999</span>
                            <span class="price-before-discount md-text">₹25,999</span>
                            <span class="discount md-text">(5% off)</span>
                        </div>
                        <button class="btn btn-primary">ADD TO CART</button>
                    </section>
                </div>
                <div class="card ecommerce-card card-with-badge">
                    <figure class="card-header">
                        <img src="../../assets/grid-img.jpg" alt="Girl with Saree">
                    </figure>
                    <div class="card-badge md-text">BestSeller</div>
                    <button class="card-floating-icon">
                        <i class="material-icons">favorite</i>
                    </button>
                    <section class="card-body">
                        <h5 class="card-title md-text">Ethno Vogue</h5>
                        <p class="card-subtitle md-text">Ruffled Pink Saree</p>
                        <div class="card-price">
                            <span class="price-after-discount md-text">₹20,999</span>
                            <span class="price-before-discount md-text">₹25,999</span>
                            <span class="discount md-text">(5% off)</span>
                        </div>
                        <button class="btn btn-primary">ADD TO CART</button>
                    </section>
                </div>
            </div>

            <iframe src="https://www.thiscodeworks.com/embed/625b11c99adddc0015562d04" style="width: 100%; height: 300px;" frameborder="0"></iframe>
          </div>
        </article>

        <div class="page-bottom-nav">
          <div class="previous-page">
            <a href="/component/list/list.html" class="md-text">
              <img
                src="/assets/backward-arrow.svg"
                class="footer-icon"
                alt=""
              />List</a
            >
          </div>
          <div class="next-page">
            <a href="/index.html" class="md-text"
              >Home<img
                src="/assets/forward-arrow.svg"
                alt=""
                class="footer-icon"
              />
            </a>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
