.modal-container {
  width: 30vw;
  background-color: var(--white-color);
  box-shadow: 1px 1px 2px 1px rgba(24, 24, 185, 0.25),
    -1px -1px 2px 1px rgba(24, 24, 185, 0.25);
  padding: 1.6rem;
  margin: 2rem auto;
}
.modal-title {
  padding: 0.5rem 0 1rem 0;
  font-weight: var(--semibold-font);
}

.modal-text {
  padding: 0 0 1rem 0;
  color: var(--gray-color);
}
.modal-btns {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap:1.4rem;
}

@media only screen and (max-width: 645px) {
  .modal-container {
    width: 50vw;
  }
}
@media only screen and (max-width: 388px) {
  .modal-container {
    width: 70vw;
  }
}
