<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/component/avatar/avatar.css">
  <link rel="stylesheet" href="/component/badge/badge.css" />
  <title>PineUI | badge</title>
</head>

<body>
   <header class="header">
      <figure class="logo-container">
        <a href="../index.html">
          <img src="/assets/logo.png" alt="logo" />
        </a>
      </figure>
      <div class="header-links">
        <ul class="lg-text">
          <li><a href="/index.html">Home</a></li>
         <li><a href="/component/alert/alert.html">Docs</a></li>
         <li><a href="https://github.com/prajapati-priyanka">Github</a></li>
        </ul>
      </div>
    </header>
    <main class="component-container wrapper">
      <aside class="sidenav">
        <h3 class="sidenav-heading">Components</h3>
        <ul>
          <li><a class="md-text" href="../alert/alert.html">Alert</a></li>
          <li><a class="md-text" href="../avatar/avatar.html">Avatar</a></li>
          <li><a class="active md-text" href="../badge/badge.html">Badge</a></li>
          <li><a class="md-text" href="../button/button.html">Button</a></li>
          <li><a class="md-text" href="../card/card.html">Card</a></li>
          <li><a class="md-text" href="../image/image.html">Image</a></li>
          <li><a class="md-text" href="../input/input.html">Input</a></li>
          <li><a class="md-text" href="../typography/typography.html">Typography</a></li>
        </ul>
      </aside>
      <section class="comp-display-section">
        <article class="comp-desc">
          <h1 class="comp-heading">Badge</h1>
          <p class="comp-heading-desc lg-text">
            Badges are being used to display a notification count or status
            information.
          </p>
        </article>

        <article class="comp-desc">
          <h2 class="comp-heading">Avatars with Badge</h2>
          <p class="comp-heading-desc lg-text">
            Avatar with Badge is used to show the notification count.
          </p>
          <div class="component-code lg-text">
            <div class="container-flex">
              <figure class="avatar-container">
                <img class="avatar avatar-lg-size image-responsive" src="/assets/avatar.jpg" alt="lg-avatar"/>
                <span class="badge-count">8</span>
              </figure>

              <figure class="avatar-container">
                <img class="avatar avatar-md-size image-responsive" src="/assets/avatar.jpg" alt="md-avatar"/>
                <span class="badge-count">3</span>
              </figure>

              <figure class="avatar-container">
                <img class="avatar avatar-sm-size image-responsive" src="/assets/avatar.jpg" alt="sm-avatar"/>
                <span class="badge-count">9</span>
              </figure>
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/620103244dd44f0015f3cdd2" style="width: 100%; height: 260px;" frameborder="0"></iframe>
          </div>
        </article>
        <article class="comp-desc">
          <h2 class="comp-heading">Icons with badge</h2>
          <p class="comp-heading-desc lg-text">
            Number badge is used to show the count on the icons.
          </p>
          <div class="component-code lg-text">
            <div class="container-flex">
              <figure class="icon badge">
                <i class="fa fa-shopping-cart"></i>
                <span class="badge-count">8</span>
              </figure>

              <figure class="icon badge">
                <i class="fa fa-envelope"></i>
                <span class="badge-count">8</span>
              </figure>
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/620103a74dd44f0015f3cdd3" style="width: 100%; height: 200px;" frameborder="0"></iframe>
          </div>
        </article>
      </section>
    </main>
</body>
</html>