<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/components.css" />
    <title>PineUI | Usage</title>
</head>

<body>

    <header class="header">
        <figure class="logo-container">
            <a href="../index.html">
                <img src="/assets/logo.png" alt="logo" />
            </a>
        </figure>
        <div class="header-links">
            <ul class="lg-text">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/component/alert/alert.html">Docs</a></li>
                <li><a href="https://github.com/prajapati-priyanka">Github</a></li>
            </ul>
        </div>
    </header>
    <main class="component-container wrapper">
        <aside class="sidenav">
            <h3 class="sidenav-heading">Getting Started</h3>
            <ul>
                <li><a class="active md-text" href="/component/usage.html">Usage</a></li>
            </ul>
            <h3 class="sidenav-heading">Components</h3>
            <ul>
                <li><a class="md-text" href="/component/alert/alert.html">Alert</a></li>
                <li><a class="md-text" href="/component/avatar/avatar.html">Avatar</a></li>
                <li><a class="md-text" href="/component/badge/badge.html">Badge</a></li>
                <li><a class="md-text" href="/component/button/button.html">Button</a></li>
                <li><a class="md-text" href="/component/card/card.html">Card</a></li>
                <li><a class="md-text" href="/component/image/image.html">Image</a></li>
                <li><a class="md-text" href="/component/input/input.html">Input</a></li>
                <li><a class="md-text" href="/component/typography/typography.html">Typography</a></li>
                <li><a class="md-text" href="/component/modal/modal.html">Modal</a></li>
                <li><a class="md-text" href="/component/toast/toast.html">Toast</a></li>
                <li><a class="md-text" href="/component/navigation/navigation.html">Navigation</a></li>
                <li><a class="md-text" href="../list/list.html">List</a></li>
            </ul>
        </aside>
        <section class="comp-display-section">
            <article class="comp-desc">
                <h1 class="comp-heading">Usage</h1>
                <p class="comp-heading-desc lg-text">
                    To start using the components in your project import the stylesheet in your css or html file.
                </p>
                <div class="component-code lg-text">
                    <iframe src="https://www.thiscodeworks.com/embed/620564baa4f5770015a884d1"
                        style="width: 100%; height: 140px;" frameborder="0"></iframe>
                </div>
                <p class="comp-heading-desc lg-text">
                    You can also import individual components if you only need a few of them. The links to import
                    individual components can be found in their respective pages.
                </p>
            </article>
            <div class="page-bottom-nav">
                <div class="previous-page">
                    <a href="/index.html" class="md-text"> <img src="/assets/backward-arrow.svg" class="footer-icon"
                            alt=""> Home</a>
                </div>
                <div class="next-page">
                    <a href="/component/avatar/avatar.html" class="md-text">Alert <img src="/assets/forward-arrow.svg"
                            alt="" class="footer-icon"> </a>
                </div>
            </div>
         </section>
    </main>
</body>
</html>